@import './variables';


.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 80px;
    background: $btn-color;
    box-shadow: $box-shadow-btn-cateogry;
    border-radius: 10px;
    margin: 45px 0px;       
    position: static;
    width: 255px;
    height: 39px;
    left: 80px;
    top: 25px;

    //text style
    font-family: Inter;
    font-style: normal;
    font-size: 1em;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: $text-shadow;
}

@media screen and (max-width: 768px) {
    .ctext-wrap {
        max-width: 100%;
    }
}
