@import './variables';

.wrapper {
    width: 100%;
    position: relative;
    display: flex;
}

.carousel {
    overflow: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 0 1em;

    ::-webkit-scrollbar {
        height: 0;
    }

    &__content {
        display: grid;
        grid-gap: 1em;
        grid-auto-flow: column;
        margin: auto;
        box-sizing: border-box;
    }

    &__prev,
    &__next {
        display: flex;
        justify-content: center;
        align-content: center;
        outline: 0;
        cursor: pointer;
        position: absolute;
        top: 50%;
        background-color: $popuot-menu-backgorund-color;
        border: 2px solid black;
        border-radius: 50%;
    }

    &__prev {
        left: -1%;
        transform: translate(60%, -50%);
        display: none;
    }

    &__next {
        right: -1%;
        transform: translate(-60%, -50%);
    }
    &__next:hover,
    &__prev:hover {
        background-color: $footer;
    }
    @include for-phone-and-tablet {
        svg {
            width: 32px;
            height: 32px;
        }
    }
}
