@import '../../../styles/mixins';
@import '../../../styles/variables';

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 80px;
    background-color: $btn-color;
    color: $font-primary-color;
    box-shadow: $box-shadow-btn-cateogry;
    border-radius: 10px;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: $box-shadow-btn-cateogry;
}
