@import '../../../styles/variables';

#header{
  background-color: $background-color;
  height: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  .navBar{
    font-family: $font-body, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      color: $font-primary-color;
      height: fit-content;
      li{
        margin-right: 24px;
        cursor: pointer;
      }
      #exit{
        display: none;
      }
    }
  }
  #icon{
    display: none;
  }
}

@media (max-width : 1316px) {
  #header{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    .navBar{
      flex-shrink: 100;
      height: 80px;
      #icon{
        display: block;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        border: none;
        outline: none;
        margin-right: 11px;
      }
      .btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      ul{
        display: none;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
        #exit{
          display: contents;
          cursor: pointer;
          border: none;
          outline: none;
          background-color: rgba(0, 0, 0, 0);
          color: $font-primary-color;
          font-size: 30px;
        }
        li{
          margin: 0;
        }
      }
    }
    .menu-active{
      position: absolute;
      display: block !important;
      background-color: #B9B9B7;
      margin: 0;
      top: 5.6em;
      right: 7.8em;
    }
    .logo{
      height: 60px;
      width: 80px;
    }
  }
}