@import '../../../styles/variables';
@import '../../../styles/mixins';
.no-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.8em;
    padding-bottom: 20vh;
    color: $font-primary-color;
    text-shadow: $text-shadow;
}

@include for-phone-only {
    .no-favorite {
        font-size: 1.3em;
    }
}
