.gallery {
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        @include for-phone-and-tablet{
            margin-bottom: 20px;
        }
    }
    

    .img-gallery {
        display: grid;
        justify-content: center;

        grid-template-columns: repeat(auto-fit, 453px);

        @include for-phone-and-tablet {
            grid-template-columns: repeat(auto-fit, 140px);
        }

        .gallery-img-tile {
            align-items: center;
            width: 453px;
            height: 453px;
            float: left;
            padding: 10px;
            box-sizing: border-box;

            .gallery-img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            @include for-phone-and-tablet {
                width: 140px;
                height: 140px;
                padding: 4px;
            }
        }
    }
}
