.asset-description {
    .details__container {
        width: 90%;
        margin: 1em auto;
        border-collapse: collapse;

        .details__prop {
            display: flex;

            div {
                flex: 1;
            }

            padding: 10px;
            text-align: left;

            .details__prop-name {
                font-weight: bold;
            }

            .details__prop-value {
                line-height: 1.8em;
            }
        }
    }
}
