.asset-description {
    table {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid rgba($color: #000000, $alpha: 0);
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
        line-height: 1.6rem;
    }
}
