#footer {
    position: absolute;
    height: 40px;
    background: grey;
    background-color: black;
    width: 100%;
    padding: 10px 0px 10px;
    box-shadow:  5px -5px 10px rgb(51, 44, 44);
    margin-top: 40px;
    bottom: 0;
  }