$background-color: rgb(88, 85, 85);
$dash-icons-color: #000000;
$star-color: #b9b9b7;
$star-color-active: #ffd700;
$footer: #c3c30e;
$background-movie-hover: #242328;
$search-icon: #534f4c;

$header-link-color: white;

$btn-color: #78736f;
$btn-txt-color: #ffffff;
$box-shadow-btn-cateogry: 0px 4px 4px rgba(0, 0, 0, 0.25);
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$font-primary-color: #ffffff;
$font-secondary-color: #000000;
$font-body: Inter;
$font-title: Verdana, Geneva, Tahoma, sans-serif;

$transparent: rgba(0, 0, 0, 0);
$popuot-menu-backgorund-color: #b9b9b7;
$transparent-black: rgba(0, 0, 0, 0.5);
$spinner-grey: #f3f3f3;
$red-alert: #D0342C;
