$background-color: rgba(20, 20, 20, 0.7);
$dash-icons-color : #000000;
$star-color: #B9B9B7;
$star-color-active: #FFD700;
$footer: #C3C30E;
$background-movie-hover: #242328;
$search-icon: #534F4C;

$btn-color: #78736F;
$box-shadow-btn-cateogry: 0px 4px 4px rgba(0, 0, 0, 0.25);

$font-primary-color: #ffffff;
$font-secondary-color: #000000;
$font-body: Inter;

$transparent: rgba(0, 0, 0, 0);
$popuot-menu-backgorund-color: #B9B9B7;