@import './variables';
@import './mixins';

.details {
    background: $background-color;
    color: $font-primary-color;

    &__trailer {
        display: flex;
        margin: 0px 11px;
        video {
            display: flex;
            width: 100%;
        }
    }
    &__poster {
        display: flex;
        padding: 10px 11px;
        justify-content: space-between;
        line-height: 2;
        img {
            display: flex;
            max-width: 690px;
        }
    }

    &__gallery-button {
        display: flex;
        justify-content: center;
        padding: 25px 80px;
    }
    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.5vw;
        img {
            display: flex;
            width: 100%;
        }
    }
}
@include for-phone-only {
    .details {
        font-size: 11px;
        &__trailer {
            margin: 0 5px;
        }
        &__poster {
            img {
                max-width: 150px;
            }
        }
        &__gallery {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@include for-phone-and-tablet {
    .details {
        font-size: 12px;
        &__poster {
            img {
                max-width: 160px;
            }
        }
    }
}

@include for-tablet-portrait-up {
    .details {
        font-size: 18px;
        &__poster {
            img {
                max-width: 300px;
            }
        }
    }
}

@include for-tablet-landscape-up {
    .details {
        font-size: 20px;
        &__poster {
            img {
                max-width: 400px;
            }
        }
    }
}

@include for-desktop-up {
    .details {
        font-size: 22px;
        &__poster {
            img {
                max-width: 450px;
            }
        }
    }
}
@include for-big-desktop-up {
    .details {
        font-size: 28px;
    }
}
