@import './variables.scss';

.details {
    width: 100%;
    background: $background-color;
    
    &__trailer {
        background: $trailer-color;
    }
    &__poster {
        /* Auto Layout */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 80px;
    }

    &__gallery-button {
        background: $btn-color;
    }
    &__gallery {
        /* Auto Layout */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
