@import './variables';

#error-page {
    position: relative;
    background-color: $background-color;
    color: $font-primary-color;
    font: $font-body;
    height: 100vh;
    
    .notfound {
        max-width: 510px;
        width: 100%;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    
        .notfound-404 {
            height: 240px;
            position: relative;

            h1 {
                font-size: 190px;
                margin: 0px;
                font-weight: 700;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
            }
        }
    h2 {
        font-size: 60px;
        font-weight: 700;
        margin: 0px 0px;
    }

    h3 {
        font-size: 50px;
        font-weight: 700;
        margin-top: 0;
    }
    
    p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    #error-btn {
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: $btn-color;
        display: inline-block;
        padding: 0px 10px;
        border-radius: 40px;
        color: $font-primary-color;
        font-weight: 700;
        margin:0px;
    }
    }
}

@include for-phone-only {
    #error-page .notfound .notfound-404 {
        height: 142px;
        h1 {
        font-size: 100px;
    }}
}