@import './App.scss';
@import './details.scss';
@import '../src/components/Footer/footer.scss';
@import '../src/components/TitlesCarousel/TitlesCarousel.scss';
@import '../src/components/Star/star';
@import '../src/components/header/header';
@import '../src/components/AssetDetails/Description.scss';
@import '../src/components/Tiles/MovieTile.scss';
@import '../src/components/Tiles/TilesGrid.scss';
@import '../src/components/Button/button.scss';
@import '../src/components/Nav/Link.scss';
@import '../src/components/Label/Label.scss';
@import '../src/components/NoFavorite/NoFavorite.scss';
