@import './App.scss';
@import '../src/components/Footer/footer.scss';
@import '../src/components/TitlesCarousel/TitlesCarousel.scss';
@import '../src/components/Star/star';
@import '../src/components/header/header';
